<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.jugendhackt.deinmuell"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_muell"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MeldenActivity"
            android:label="@string/MeldeButton" >
        </activity>
        <activity
            android:name=".SuchenActivity"
            android:label="@string/title_activity_suchen" >
        </activity>
        <activity
            android:name=".StatistikenActivity"
            android:label="@string/title_activity_statistiken" >
        </activity>
        <activity
            android:name=".TrashieActivity"
            android:label="@string/title_activity_trashie" >
        </activity>
    </application>

</manifest>
